#project-title  {
    text-align: center;
    font-size: 64px;
    font-family: 'Pacifico', sans-serif;
}

#author {
    text-align: center;
    font-size: 32px;
    font-family: 'Pacifico', sans-serif;
}